.container {
  display: flex;
  justify-content: baseline;
  margin-top: 20px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.all-page-class{
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}